<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Papelería Central</a>

    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let link of links">
        <a
          class="nav-link"
          [routerLink]="link.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ link.label }}
        </a>
      </li>
    </ul>

    <span class="navbar-text">{{ today | date:'mediumDate' }}</span>
  </div>
</nav>
